<html>
<head>
    <meta charset="utf8">
    <title>Welcome book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', serif;
            font-weight: 400;
            font-size: 16px;
            background: rgb(241,241,241);
            -webkit-print-color-adjust: exact;
            box-sizing: border-box;
        }

        a {
            color: #ee3955;
            text-decoration: none;
        }

        h6 {
            margin: 0;
            font-size: 16px;
        }

        .page {
            position: relative;
            display: block;
            background: #FEFCFF;
            page-break-after: auto;
            overflow: hidden;
        }

        .page--plain {
            padding: 0 40px;
            line-height: 26px;
        }

        @media print {
            body {
            }

            .page {
                margin: 0;
                height: 100%;
            }

            .warning {
                font-weight: 500;
            }
        }

        .cover {
            background-color: #263238;
        }

        .cover--chapter {
            background-color: #ffebe7;
        }

        .cover__wrapper {
            position: absolute;
            left: 0;
            top: 15%;
            width: 100%;
            text-align: center;
        }

        .cover--chapter .cover__wrapper {
            left: 0;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
        }

        .cover__wrapper img {
            width: 100%;
        }

        .cover__wrapper .cover__title {
            color: #fff;
            margin: 0;
            font-size: 42px;
        }

        .cover--chapter .cover__wrapper .cover__title {
            font-style: normal;
            text-align: center;
            color: #273238;
        }

        .cover__wrapper .cover__subtitle {
            font-style: normal;
            color: #ccc;
            margin: 5px 0 0 0;
            font-size: 20px;
        }

        .cover__wrapper .cover__subtitle.subtitle {
            font-size: 12px;
        }

        .header {
            margin-bottom: 30px;
            padding-top: 30px;
            font-size: 28px;
            position: relative;
        }

        .header::after {
            content: '';
            width: 100px;
            border-bottom: 3px solid #ee3955;
            position: absolute;
            bottom: -15px;
            left: 0;
        }

        .warning {
            font-weight: bold;
        }

        .subtitle {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="page cover">
    <div class="cover__wrapper">
        <img src="cover.svg">
        <div class="cover__title">Welcome Book</div>
        <div class="cover__subtitle" id="year">Company, {{year}}</div>
    </div>
</div>
<div class="page page--plain">
    <div class="header">Пара слов перед стартом</div>
    <p>Цель данной книги - сократить время Time to productivity (TTP). Это время с первого дня работы нового сотрудника
    до полного полной продуктивной работы.</p>

    <p>Сокращение TTP, позволяет проектам быть быстрее. Например, для выхода нового сотрудника тимлид организовывает много
    собеседований, затем его онбординг. Коллеги из команды этого сотрудника помогая с адаптацией могут просрочить свои дедлайны и так далее.</p>

    <p>К сожалению, измерять TTP никак нельзя. Но некоторые (те же Spotify) решили что 10 Merge Requests это показатель выхода сотрудника в
    режим полной продуктивной работы</p>

    <p>Надеемся, что твой TTP будет быстрее чем у кого-либо<span id="employee_name"></span>!</p>
</div>

<div class="page page--plain">
    <div class="header">Оглавление</div>
    <div>1. Lorem. <span class="subtitle">ttttttttttt</span></div>
    <div>2. Ipsum. <span class="subtitle">234234</span></div>
    <div>3. 3423. <span class="subtitle">234234</span></div>
    <div>4. 7657567. <span class="subtitle">4555</span></div>
    <div>5. 4444. <span class="subtitle">1231</span></div>
    <div>6. 7754
        <ul>
            <li>45645</li>
            <li>45666</li>
            <li>4446</li>
        </ul>
    </div>
</div>

<div class="page cover cover--chapter">
    <div class="cover__wrapper">
        <img src="welcome.png">
        <div class="cover__title">Lorem</div>
    </div>
</div>

<div class="page page--plain">
    <div class="header">Lorem ipsum</div>
    123
</div>

<div class="page page--plain">
    <div class="header">Test</div>
</div>

<div class="page page--plain">
    <div class="header">Page</div>
    <p>123</p>
</div>

<div class="page page--plain">
    <div class="header">Help</div>
    <div class="content">
        <p>123</p>
    </div>
</div>

<div class="page cover cover--chapter">
    <div class="cover__wrapper">
        <img src="project.png">
        <div class="cover__title">123123</div>
    </div>
</div>

<div class="page page--plain">
    <div class="header">1234</div>
    <p>1234</p>
</div>

<div class="page page--plain">
    <div class="header">111</div>
    <p>344</p>
</div>

<div class="page cover cover--chapter">
    <div class="cover__wrapper">
        <img src="team.png"/>
        <div class="cover__title">234</div>
    </div>
</div>

<div class="page page--plain">
    <div class="header">444</div>
    <p>222</p>
</div>

<div class="page cover cover--chapter">
    <div class="cover__wrapper">
        <img src="process.png"/>
        <div class="cover__title">4445</div>
    </div>
</div>


<div class="page cover">
    <div class="cover__wrapper">
        <img src="cover.svg">
        <div class="cover__title">Lorem ipsum</div>
        <div class="cover__subtitle subtitle" id="build">Build: {{build}}</div>
    </div>
</div>
</body>
</html>
